* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0 auto;
    background: #6c6c6c;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: solid transparent;
    border-radius: 12px;
    border-width: 0 0 4px;
    min-width: 420px;
    min-height: 420px;
}

.content {
    margin-top: 10px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    width: 100%;
    height: 400px;
}

.scrapix {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0.8;
    font-family: Copperplate, fantasy;
    letter-spacing: 2px;
}

.scrapix a {
    color: black;
    text-decoration: none;
}

.log-in-google {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0.5;
}

.log-in-google button,
.log-in-form .form-input::placeholder,
.log-in-form .form-submit,
.sign-up-here {
    color: black;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.log-in-google button,
.log-in-form .form-submit {
    font-size: 15px;
    font-weight: bold;
    background-color: #949494;
    cursor: pointer;
}

.log-in-google button,
.log-in-form .form-input,
.log-in-form .form-submit {
    width: 280px;
    height: 45px;
    border: solid transparent;
    border-radius: 12px;
    border-width: 0 0 4px;
}

.or {
    cursor: context-menu;
}

.or {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0.5;
}

.or .or-word {
    font-size: 15px;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.or .dash {
    font-size: 20px;
}

.log-in-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    text-align: center;
    flex: 2;
}

.log-in-form .form-input {
    background-color: #f2f0f0;
    padding: 6px 15px;
    margin: 5px 0;
    box-sizing: border-box;
}

.log-in-form .form-input::placeholder {
    opacity: 0.5;
}

.fa-eye {
    margin-left: -20px;
    cursor: pointer;
    transform: translate(-15px, 4px);
}

.sign-up-here a {
    color: black;
    font-weight: bold;
}

.sign-up-here {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-top: -30px;
    font-size: 14px;
}