* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0 auto;
    background: #6c6c6c;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: solid transparent;
    border-radius: 12px;
    border-width: 0 0 4px;
    min-width: 480px;
    min-height: 540px;
}

.content {
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    width: 100%;
    height: 500px;
}

.scrapix {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    font-family: Copperplate, fantasy;
    letter-spacing: 2px;
}

.scrapix a {
    color: black;
    text-decoration: none;
}

.sign-up-google {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0.5;
}

.sign-up-google button,
.sign-up-form .form-input::placeholder,
.sign-up-form .form-submit,
.sign-up-form .terms,
.login-here {
    color: black;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sign-up-google button,
.sign-up-form .form-submit {
    font-size: 15px;
    font-weight: bold;
    background-color: #949494;
    cursor: pointer;
}

.sign-up-google button,
.sign-up-form .form-input,
.sign-up-form .form-submit {
    width: 280px;
    height: 45px;
    border: solid transparent;
    border-radius: 12px;
    border-width: 0 0 4px;
}

.scrapix,
.or {
    cursor: context-menu;
}

.or {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0.8;
}

.or .or-word {
    font-size: 15px;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.or .dash {
    font-size: 20px;
}

.sign-up-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    text-align: center;
    flex: 6;
}

.sign-up-form .form-input {
    background-color: #f2f0f0;
    padding: 6px 15px;
    margin: 5px 0;
    box-sizing: border-box;
}

.sign-up-form .form-input::placeholder {
    opacity: 0.5;
}

.sign-up-form .terms {
    text-align: center;
    font-size: 13px;
}

.sign-up-form .terms a,
.login-here a {
    color: black;
    font-weight: bold;
}

.fa-eye {
    margin-left: -20px;
    cursor: pointer;
    transform: translate(-15px, 4px);
}

.rule-box {
    display: none;
    justify-content: center;
    align-content: center;
    box-sizing: border-box;
}

.password-rule {
    display: none;
    flex-direction: column;
    justify-content: center;
}

.password-rule {
    background: #d9d9d9;
    width: 240px;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border: solid transparent;
    border-radius: 10px;
    border-width: 0 0 4px;
}

.password-rule p {
    font-size: 12px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: left;
    margin-left: 12px;
}

.password-rule .valid {
    color: green;
}

.password-rule .valid:before {
    content: "\2713";
    margin-right: 5px;
    font-weight: bold;
}

.password-rule .invalid {
    color: red;
}

.password-rule .invalid:before {
    content: "\2717";
    margin-right: 5px;
    font-weight: bold;
}

.terms {
    margin-top: 5px;
    margin-bottom: 10px;
}

.terms-line {
    display: inline;
    text-align: center;
}

.terms-line label {
    display: inline-block;
    white-space: nowrap;
}

.terms-line input {
    vertical-align: middle;
}

.terms-line label span {
    vertical-align: middle;
}

.login-here {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-top: -10px;
    font-size: 14px;
}