.side-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

#cameraDialog {
    margin: 0;
    top: 5%;
    left: 10%;
    width: 80%;
    height: 85%;
}

.cameraOpen {
    margin: 0px;
    width: 100%;
    height: 100%;
}

.camera-content {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#enhancerUIContainer {
    margin: 0px;
    width: 100%;
    height: 100%;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10%;
    width: 80%;
}

.search-bar .search-box {
    width: 100%;
    height: 32%;
    background-color: #d9d9d9;
    border: transparent;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-box .search-action {
    width: 100%;
    margin-left: 30px;
    margin-bottom: 5px;
}

.search-box input[type="text"] {
    width: 90%;
    font-size: 16px;
    color: #1c1c1c;
}

.search-box input:focus {
    outline: none;
}

.search-box button,
.search-box input {
    background-color: transparent;
    border: transparent;
}

.profile-bar {
    width: 80%;
    height: fit-content;
}

.profile-box {
    background-color: #d9d9d9;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.profile-box form {
    width: 90%;
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin-top: 10px;
    margin-bottom: 10px;
}

.profile-box .new-post-text-area {
    width: 100%;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    background-color: #c4c4c4;
    height: fit-content;
}

.profile-box .new-post-text-area img {
    margin-top: 10px;
    max-width: 200px;
    max-height: 200px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.profile-box textarea {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px;
    border: transparent;
    background-color: transparent;
    resize: none;
    font-size: 16px;
}

.profile-box textarea:focus {
    outline: none;
}

.new-post-button {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.new-post-button button {
    width: 80px;
    margin-right: 10px;
    background-color: #c4c4c4;
    font-size: 16px;
    height: 30px;
    text-align: center;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.news-feed {
    display: flex;
    justify-content: center;
}

.news-feed .gallery {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.news-feed .post-box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 70%;
    margin: 20px;
    border: transparent;
    border-radius: 5px;
    background-color: #d9d9d9;
}

.news-feed .post-box .post-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 90%;
    margin-left: 30px;
    margin-top: 15px;
}

.news-feed .post-box .post-header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.news-feed .post-box .post-profile-pic {
    margin-right: 10px;
}

.news-feed .post-box .username-time-loc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.news-feed .post-box .username-time-loc p {
    margin: 0px;
}

.news-feed .post-box .username-time-loc .post-username {
    font-weight: bold;
    font-size: 16px;
}

.news-feed .post-box .username-time-loc .time-loc {
    font-size: 12px;
}

.news-feed .post-box .post-caption {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 17px;
}

.news-feed .post-box .post-caption p {
    max-width: 100%;
}

.news-feed .post-box .post-image {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.news-feed .post-box .post-image img {
    max-width: 88%;
    max-height: 350px;
    border-radius: 10px;
}

.news-feed .post-box .comments-display {
    width: 92%;
    max-height: 80px;
    overflow: auto;
    margin-left: 12px;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
}

.news-feed .post-box .comments-display::-webkit-scrollbar {
    width: 12px;
    height: 8px;
}

.news-feed .post-box .comments-display::-webkit-scrollbar-track {
    border: 1px solid darkgray;
    border-radius: 10px;
}

.news-feed .post-box .comments-display::-webkit-scrollbar-thumb {
    background: darkgray;
    border-radius: 10px;
}

.news-feed .post-box .comments-display::-webkit-scrollbar-thumb:hover {
    background: gray;
}

.news-feed .post-box .comment-box {
    width: 90%;
    margin: 3px 0px 3px 0px;
}

.news-feed .post-box .comment-box .comment-username {
    font-weight: bold;
    font-size: 12px;
}

.news-feed .post-box .comment-box .comment-content {
    font-size: 14px;
    margin: 0px;
}

.news-feed .post-box .comment-box .comment-time {
    font-size: 10px;
    opacity: 0.8;
}

.news-feed .post-box .comment-modal {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 10px 0px 5px 0px;
}

.news-feed .post-box .comment-modal-content {
    background-color: #d9d9d9;
    border: 1px solid #d9d9d9;
    overflow: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.news-feed .post-box .comment-modal-content form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.news-feed .post-box .comment-modal-content #comment-input {
    margin-left: 5px;
    flex-grow: 1;
    border: none;
    font-size: 15px;
    background-color: transparent;
}

.news-feed .post-box .comment-modal-content #comment-input:focus {
    outline: none;
}

.news-feed .post-box .comment-modal-content .fa-solid {
    position: relative;
    top: 1px;
    left: 4px;
    font-size: 14px;
    margin-left: 3px;
}

.news-feed .post-box .comment-modal-content #comment,
.news-feed .post-box .post-buttons #liked,
.news-feed .post-box .post-buttons #unliked,
.news-feed .post-box .post-buttons #repost {
    height: 30px;
    text-align: center;
    background-color: transparent;
    border: transparent;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

.news-feed .post-box .comment-modal-content .comment-button:hover,
.news-feed .post-box .post-buttons .like-button:hover,
.news-feed .post-box .post-buttons .repost-button:hover {
    background-color: white;
    opacity: 0.8;
    border: transparent;
    border-radius: 5px;
}

.news-feed .post-box .post-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-bottom: 5px;
    color: black;
}

.news-feed .post-box .post-buttons .like-button,
.news-feed .post-box .post-buttons .repost-button {
    width: fit-content;
    height: 30px;
    text-align: center;
    background-color: transparent;
    border: transparent;
    border-radius: 5px;
    font-size: 14px;
}

.news-feed .post-box .post-buttons .repost-button {
    margin-left: 5px;
}

.right-nav {
    order: 3;
    background-color: #242424;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    /* right: 0px; */
    margin-left: 80%;
    height: 100%;
    width: 20%;
}

.profile-display {
    margin-top: 35%;
    width: 80%;
    background-color: #d9d9d9;
    border: 1px solid #d9d9d9;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 12%;
    margin-right: 20px;
}

.profile-display .profile-pic {
    margin-left: 20px;
}

.profile-display .profile-pic img {
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

.profile-display .username-display {
    margin-left: 5px;
    font-size: 20px;
}

.right-nav .suggestion-container {
    height: 200px;
    background-color: #d9d9d9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    border: 1px solid #d9d9d9;
    border-radius: 15px;
    margin-top: 40px;
    margin-right: 20px;
}

.right-nav .suggestion-container .suggest-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-nav .suggestion-container .suggest-content img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.right-nav .suggestion-container .suggest-content ul {
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 0px;
}

.right-nav .suggestion-container .suggest-content li {
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.right-nav .suggestion-container .suggest-text p {
    margin: 0;
    font-family: Copperplate, fantasy;
    letter-spacing: 2px;
}