* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.side-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.page-title {
    width: 95%;
    height: 7%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.page-title-button {
    background-color: #d9d9d9;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    padding: 8px 20px;
    cursor: default;
    font-size: 16px;
    font-weight: bold;
    width: fit-content;
    margin-right: 10px;
}

.page-title-button a {
    text-decoration: none;
    color: black;
}

.page-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background-color: #d9d9d9;
    width: 95%;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    margin-top: 2%;
    height: 60%;
}

.profile-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 30%;
    margin: 5px;
    margin-top: 1.5%;
    margin-right: 10px;
}

.profile-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.profile-username {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 10px;
}

.profile-username p {
    margin: 0px;
}

.profile-username #username {
    font-size: 22px;
    font-weight: bold;
}

.profile-username #followers {
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
}

.profile-description p {
    margin: 5px 0px 0px 5px;
}

.post-box {
    margin-top: 1.5%;
    width: 65%;
    height: 95%;
    overflow-y: auto;
    background-color: #9c9c9c;
    border-radius: 5px;
}

.post-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 95%;
    margin: 20px;
    border: transparent;
    border-radius: 5px;
    background-color: #d9d9d9;
}

.time-loc,
.post-caption,
.post-image,
.comments-display {
    width: 95%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.time-loc p {
    margin: 0px;
    font-size: 12px;
}

.time-loc .delete-button {
    margin-top: 5px;
    float: right;
}

.time-loc button {
    padding: 2px 10px;
    color: red;
    font-weight: bold;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
}

.post-caption p {
    margin: 0px;
    font-size: 16px;
}

.post-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-image img {
    max-width: 100%;
    max-height: 350px;
    border-radius: 10px;
}

.likes {
    width: 93%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.likes p {
    font-size: 12px;
    color: #4267B2;
    margin: 0;
    font-weight: bold;
}

.comments-display {
    max-height: 120px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0px;
}

.comments-display::-webkit-scrollbar {
    width: 12px;
    height: 8px;
}

.post-box::-webkit-scrollbar {
    width: 12px;
    height: 100%;
}

.post-box::-webkit-scrollbar-track {
    background-color: white;
    border: 1px solid darkgray;
    border-radius: 10px;
}

.comments-display::-webkit-scrollbar-track,
.post-box::-webkit-scrollbar-track {
    border: 1px solid darkgray;
    border-radius: 10px;
}

.comments-display::-webkit-scrollbar-thumb,
.post-box::-webkit-scrollbar-thumb {
    background: darkgray;
    border-radius: 10px;
}

.comments-display::-webkit-scrollbar-thumb:hover,
.post-box::-webkit-scrollbar-thumb:hover {
    background: gray;
}

.comment-box {
    width: 98%;
    margin: 0px 0px 5px 0px;
}

.comment-box .comment-username {
    font-weight: bold;
    font-size: 12px;
}

.comment-box .comment-content {
    font-size: 14px;
    margin: 0px;
}

.comment-box .comment-time {
    font-size: 10px;
    opacity: 0.8;
}