* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.side-nav {
    display: flex;
    flex-direction: column;
    margin-left: 241px;
}

.current-loc-display {
    width: 100%;
    background: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.current-loc-display p {
    margin: 0;
    margin-left: 20px;
    padding: 0;
}

.current-loc-display #p1 {
    font-size: 12px;
}

.current-loc-display #p2 {
    font-size: 18px;
    font-weight: bold;
}

.explore-news-feed {
    margin-left: 5px;
    list-style: none;
    column-gap: 0;
    padding: 0;
    column-count: 3;
}

.post-card {
    width: 98%;
    max-height: 500px;
    border: transparent;
    break-inside: avoid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    margin-bottom: 15px;
}

.post-card .post-image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-card .post-image img {
    max-width: 98%;
    max-height: 500px;
    border-radius: 10px;
}

.post-card .post-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-left: 30px;
    margin-top: 5px;
}

.post-card .post-header img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.post-card .post-profile-pic {
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-card .username-time-loc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.post-card .username-time-loc p {
    margin: 0px;
}

.post-card .username-time-loc .post-username {
    font-weight: bold;
    font-size: 16px;
}

.post-card .username-time-loc .post-time,
.post-card .username-time-loc .post-loc {
    font-size: 12px;
}

@Media (Min-Width: 320px) And (Max-Width: 759.5px) {
    .explore-news-feed {
        Column-Count: 1;
    }
}

@Media (Min-Width: 760px) And (Max-Width: 979.5px) {
    .explore-news-feed {
        Column-Count: 1;
    }
}

@Media (Min-Width: 980px) And (Max-Width: 1240.5px) {
    .explore-news-feed {
        Column-Count: 2;
    }
}

@Media (Min-Width: 1240.5px) {
    .explore-news-feed {
        Column-Count: 3;
    }
    body {
        overflow-x: hidden;
        overflow-y: auto;
    }
}