body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #242424;
}

body::-webkit-scrollbar {
    width: 15px;
    height: 8px;
}

body::-webkit-scrollbar-track {
    border: 1px solid #a2a2a2;
    border-radius: 6px;
}

body::-webkit-scrollbar-thumb {
    background: #a2a2a2;
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
    background: gray;
}

.ver-nav {
    order: 1;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #242424;
    position: fixed;
    height: 100%;
    overflow: hidden;
}

.ver-nav-title,
.ver-nav-content {
    width: 80%;
    margin-left: 13%;
}

.ver-nav-title p {
    font-family: 'poppins', sans-serif;
    font-style: italic;
    font-size: 30px;
    font-weight: 1000;
    width: fit-content;
    color: whitesmoke;
}

.ver-nav-content {
    background-color: #d9d9d9;
    border-radius: 10px;
}

.fa-right-from-bracket {
    margin-left: 10px;
    margin-right: 8px;
}

.fa-wand-magic-sparkles {
    margin-left: 10px;
    margin-right: 7px;
}

.fa-house,
.fa-compass,
.fa-book,
.fa-user {
    margin-right: 10px;
    margin-left: 10px;
}

.ver-nav-content a {
    display: block;
    color: black;
    padding: 16px 18px;
    text-decoration: none;
    border-bottom: 1px solid gray;
    font-weight: bold;
}

.ver-nav-content p {
    display: inline;
    margin: 0px;
}

div.side-nav {
    order: 2;
    margin-left: 20%;
    padding: 1px 16px;
    height: 1000px;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}